* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

body li {
  list-style: none;
}

body a {
  text-decoration: none;
}

header {
  background-color: #f5f4ed;
  padding: 20px;
  position: relative;
}

@media (min-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 60px;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 30px 140px;
  }
}

header .fa-bars {
  position: absolute;
  right: 20px;
  font-size: 2rem;
  color: #4b787a;
  top: 15px;
}

@media (min-width: 768px) {
  header .fa-bars {
    display: none;
  }
}

header .logo {
  color: #d19a77;
  font-family: "Chonburi", cursive;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25rem;
}

@media (min-width: 1024px) {
  header .logo {
    font-size: 2rem;
  }
}

header nav {
  background-color: #f5f4ed;
  height: 300px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 40px;
  margin-top: 10px;
  -webkit-transform: translateY(-400px);
          transform: translateY(-400px);
  opacity: 0;
  -webkit-transition: opacity 1.2s, -webkit-transform .8s linear;
  transition: opacity 1.2s, -webkit-transform .8s linear;
  transition: transform .8s linear, opacity 1.2s;
  transition: transform .8s linear, opacity 1.2s, -webkit-transform .8s linear;
  z-index: 3;
}

@media (min-width: 768px) {
  header nav {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    position: static;
    opacity: 1;
    height: auto;
    padding: 0;
    margin: 0;
    -webkit-transition: none;
    transition: none;
  }
}

header nav .fa-times-circle {
  position: absolute;
  right: 20px;
  font-size: 2rem;
  color: #4b787a;
  top: -35px;
}

@media (min-width: 768px) {
  header nav .fa-times-circle {
    display: none;
  }
}

@media (min-width: 768px) {
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header nav ul li {
  margin-bottom: 30px;
  height: 100%;
}

@media (min-width: 768px) {
  header nav ul li {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

header nav ul li a {
  color: #4b787a;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 700;
}

header nav ul li a:hover {
  background-color: #4b787a;
  color: #f5f4ed;
}

@media (min-width: 768px) {
  header nav ul li a {
    padding: 8px 12px;
    font-size: 0.75rem;
  }
}

header nav.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.hero {
  background-color: #4b787a;
  color: #f5f4ed;
  position: relative;
}

@media (min-width: 768px) {
  .hero {
    padding: 70px 0;
  }
}

@media (min-width: 1024px) {
  .hero {
    padding: 100px 0;
  }
}

@media (min-width: 768px) {
  .hero .image-container {
    position: absolute;
    left: 40px;
    bottom: -30px;
  }
}

@media (min-width: 1920px) {
  .hero .image-container {
    left: 200px;
  }
}

.hero .image-container .wangari {
  width: 100%;
  -webkit-filter: sepia(50%);
          filter: sepia(50%);
}

@media (min-width: 600px) {
  .hero .image-container .wangari {
    height: 500px;
  }
}

@media (min-width: 768px) {
  .hero .image-container .wangari {
    height: 450px;
    width: 150%;
  }
}

@media (min-width: 1024px) {
  .hero .image-container .wangari {
    width: 200%;
  }
}

@media (min-width: 1920px) {
  .hero .image-container .wangari {
    width: 250%;
    height: 600px;
  }
}

.hero .image-container .wave {
  display: none;
}

@media (min-width: 1024px) {
  .hero .image-container .wave {
    display: block;
    position: absolute;
    width: 120px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -120%;
    z-index: 3;
  }
}

@media (min-width: 1920px) {
  .hero .image-container .wave {
    right: -180%;
  }
}

@media (min-width: 768px) {
  .hero .image-container::before {
    content: "";
    border: 1px solid #f5f4ed;
    position: absolute;
    left: -10px;
    right: -45%;
    top: -10px;
    bottom: 10px;
    z-index: 1;
  }
}

@media (min-width: 1024px) {
  .hero .image-container::before {
    right: -95%;
  }
}

@media (min-width: 1920px) {
  .hero .image-container::before {
    right: -145%;
  }
}

.hero .hero-text-content {
  padding: 20px;
}

@media (min-width: 768px) {
  .hero .hero-text-content {
    width: 50%;
    margin: 0 0 0 auto;
    padding-left: 60px;
  }
}

@media (min-width: 824px) {
  .hero .hero-text-content {
    padding-bottom: 100px;
  }
}

@media (min-width: 1024px) {
  .hero .hero-text-content {
    width: 50%;
    padding-left: 60px;
  }
}

.hero .hero-text-content .title {
  font-family: "Chonburi", cursive;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .hero .hero-text-content .title {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .hero .hero-text-content .title {
    font-size: 3.5rem;
  }
}

@media (min-width: 1920px) {
  .hero .hero-text-content .title {
    font-size: 4.5rem;
    width: 40%;
    line-height: 1.5;
  }
}

.hero .hero-text-content .paragraph {
  line-height: 1.7;
  color: #bfd9cc;
  width: 80%;
}

@media (min-width: 1920px) {
  .hero .hero-text-content .paragraph {
    width: 45%;
  }
}

.section-1 {
  background-color: #bfd9cc;
  padding: 60px 20px;
}

@media (min-width: 600px) {
  .section-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 100px;
  }
}

@media (min-width: 1920px) {
  .section-1 {
    padding: 100px 100px 60px;
  }
}

.section-1 .card {
  margin-bottom: 60px;
  color: #4b787a;
  text-align: center;
}

@media (min-width: 600px) {
  .section-1 .card {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media (min-width: 1024px) {
  .section-1 .card {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    text-align: left;
  }
}

@media (min-width: 1920px) {
  .section-1 .card {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
  }
}

.section-1 .card .card-image {
  background-color: #f5f4ed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 20px;
  position: relative;
}

.section-1 .card .card-image img {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #d19a77;
  border-radius: 50%;
  padding: 10px;
}

.section-1 .card p {
  padding: 0 40px;
  line-height: 1.4;
}

@media (min-width: 1024px) {
  .section-1 .card p {
    padding: 0 15px;
  }
}

.grid .timeline {
  background-color: #f5f4ed;
  padding: 60px 20px 20px;
}

.grid .timeline h2 {
  font-family: "Chonburi", cursive;
  color: #4b787a;
  margin-bottom: 30px;
}

.grid .timeline ul {
  padding-left: 20px;
}

.grid .timeline ul li {
  margin-bottom: 30px;
  line-height: 1.5;
}

.grid .timeline ul li span {
  font-family: "Chonburi", cursive;
  font-size: 1.25rem;
  position: relative;
}

.grid .timeline ul li span::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #bfd9cc;
  position: absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
/*# sourceMappingURL=style.css.map */