.grid {

    // timeline
    .timeline {
        background-color: $white;

        padding: 60px 20px 20px;

        h2 {
            font-family: $heading;
            color: $dark-green;
            margin-bottom: 30px;
        }

        ul {
            padding-left: 20px;

            li {
                margin-bottom: 30px;
                line-height: 1.5;

                span {
                    font-family: $heading;
                    font-size: 1.25rem;
                    position: relative;
                }

                span::before {
                    content: "";
                    width: 8px;
                    height: 8px;
                    background-color: $light-green;
                    position: absolute;
                    left: -20px;
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                }
            }
        }


    }

    .quotes {
        .quote {


            img {
                width: 100%;
            }

            .quote-text {
                padding: 60px 40px;

                p {

                    font-family: $heading;
                    line-height: 1.7;
                    font-size: 1.25rem;
                    margin-bottom: 30px;
                }

                p::before {
                    content: '\201C';
                }

                p::after {
                    content: '\201D';
                }

                .socials {
                    display: flex;
                    font-size: 1.25rem;

                    .social {
                        height: 30px;
                        width: 30px;
                        background-color: $white;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 30px;
                    }

                    .social:first-child {
                        margin-right: 10px;
                    }
                }
            }

        }

        .quote-1 {
            background-color: $orange;

            .social {
                color: $orange;
            }
        }

        .quote-2 {
            background-color: $light-green;
            color: $dark-green;

            .socials {
                .social {
                    color: $light-green;
                }
            }

        }

        .quote-3 {
            background-color: $black;
            color: $light-green;

            .socials {
                .social {
                    color: $black;
                }
            }

        }

    }

    // books
    .books {
        background-color: $dark-green;
        padding: 60px 20px 20px;

        h2 {
            color: $white;
            font-family: $heading;
            margin-bottom: 60px;
        }

        .books-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            color: $light-green;

            .book {
                flex-basis: 40%;
                margin-bottom: 30px;
                font-weight: 400;
            }

            img {
                filter: grayscale(100%) sepia(30%);
                width: 100%;
                height: 180px;
                margin-bottom: 10px;
            }
        }


    }
}

footer {
    background-color: $black;
    padding: 60px 20px 20px;

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;

        li {
            flex-basis: 40%;
            margin-bottom: 20px;
        }
    }

    h2 {
        text-align: center;
        font-family: $heading;
        color: $white;
        margin-bottom: 30px;
    }


    .type {
        text-transform: uppercase;
        color: $white;
    }

    .about {
        color: $light-green;
    }

    .source {
        color: $orange;
        font-style: italic;

    }
}