.hero {
    background-color: $dark-green;
    color: $white;
    position: relative;

    @include tablet {
        padding: 60px 0;
    }

    @include desktop {
        padding: 100px 0;
    }


    .image-container {
        @include tablet {
            position: absolute;
            left: 40px;
            bottom: -30px;
        }


        img {
            width: 100%;
            filter: sepia(50%);

            @include tablet {
                // width: 160%;
                height: 450px;
                width: 150%;
            }

            @include desktop {
                width: 200%;
            }
        }
    }

    .image-container::before {
        @include tablet {
            content: "";

            border: 1px solid $white;
            position: absolute;
            left: -10px;
            right: -45%;
            top: -10px;
            bottom: 10px;
            z-index: 1;
        }

        @include desktop {
            right: -95%;
        }

    }

    .hero-text-content {
        padding: 20px;

        @include tablet {
            width: 50%;
            margin: 0 0 0 auto;
            padding-left: 60px;
        }

        @include desktop {
            width: 50%;
            padding-left: 60px;
        }


        .title {
            font-family: $heading;
            margin-bottom: 20px;

            @include tablet {
                font-size: 2.5rem;
            }

            @include desktop {
                font-size: 3.5rem;
            }
        }

        .paragraph {
            line-height: 1.7;
            color: $light-green;
            width: 65%;
        }
    }

}