.hero {
    background-color: $dark-green;
    color: $white;
    position: relative;

    @include tablet {
        padding: 70px 0;
    }

    @include desktop {
        padding: 100px 0;
    }


    .image-container {
        @include tablet {
            position: absolute;
            left: 40px;
            bottom: -30px;
        }

        @include min-1920px {
            left: 200px;
        }



        .wangari {
            width: 100%;
            filter: sepia(50%);

            @include min-600px {
                height: 500px;
            }

            @include tablet {
                // width: 160%;
                height: 450px;
                width: 150%;
            }

            @include desktop {
                width: 200%;
            }

            @include min-1920px {
                width: 250%;
                height: 600px;
            }
        }

        .wave {
            display: none;

            @include desktop {
                display: block;
                position: absolute;
                width: 120px;
                top: 50%;
                transform: translateY(-50%);
                right: -120%;
                z-index: 3;
            }

            @include min-1920px {
                right: -180%;
            }

        }
    }

    .image-container::before {
        @include tablet {
            content: "";

            border: 1px solid $white;
            position: absolute;
            left: -10px;
            right: -45%;
            top: -10px;
            bottom: 10px;
            z-index: 1;
        }

        @include desktop {
            right: -95%;
        }

        @include min-1920px {
            right: -145%;
        }

    }

    .hero-text-content {
        padding: 20px;

        @include tablet {
            width: 50%;
            margin: 0 0 0 auto;
            padding-left: 60px;
        }

        @include min-824px {
            padding-bottom: 100px;
            ;
        }

        @include desktop {
            width: 50%;
            padding-left: 60px;
        }


        .title {
            font-family: $heading;
            margin-bottom: 20px;

            @include tablet {
                font-size: 2.5rem;
            }

            @include desktop {
                font-size: 3.5rem;
            }

            @include min-1920px {
                font-size: 4.5rem;
                width: 40%;
                line-height: 1.5;
            }
        }

        .paragraph {
            line-height: 1.7;
            color: $light-green;
            width: 80%;

            @include min-1920px {
                width: 45%;
            }
        }
    }

}