.section-1 {
    background-color: $light-green;
    padding: 60px 20px;

    @include min-600px {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 100px;
    }

    @include min-1920px {
        padding: 100px 100px 60px;
    }

    .card {
        margin-bottom: 60px;
        color: $dark-green;
        text-align: center;

        @include min-600px {
            flex-basis: 45%;
        }

        @include desktop {
            flex-basis: 25%;
            text-align: left;
        }

        @include min-1920px {
            flex-basis: 15%;
        }

        .card-image {
            background-color: $white;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto 20px;
            position: relative;

            img {
                width: 90%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 1px solid $orange;
                border-radius: 50%;
                padding: 10px;
            }
        }

        p {
            padding: 0 40px;
            line-height: 1.4;

            @include desktop {
                padding: 0 15px;
            }
        }
    }
}